.form-item-field-popup-style {
  display: inline-block;
  padding-right: 10px;
}
.form-item-field-popup-style .form-radio {
  display: none;
}
.form-item-field-popup-style .option {
  text-indent: -9999px;
  display: block;
  width: 64px;
  height: 64px;
  background-size: 64px 64px;
  background-repeat: no-repeat;
  background-position: center center;
}
.form-item-field-popup-style .option[for="edit-field-popup-style-horizontal"] {
  background-image: url(../images/horizontal.svg);
}
.form-item-field-popup-style .option[for="edit-field-popup-style-vertical"] {
  background-image: url(../images/vertical.svg);
}
.form-item-field-popup-style .form-radio:checked + .option[for="edit-field-popup-style-horizontal"] {
  background-image: url(../images/horizontal-toggle.svg);
}
.form-item-field-popup-style .form-radio:checked + .option[for="edit-field-popup-style-vertical"] {
  background-image: url(../images/vertical-toggle.svg);
}
