.form-item {
	&-field-popup-style {
		display: inline-block;
		padding-right: 10px;

		.form-radio {
			display: none;
		}
		.option {
			text-indent: -9999px;
			display: block;
			width: 64px;
			height: 64px;
			background-size: 64px 64px;
			background-repeat: no-repeat;
			background-position: center center;

			&[for="edit-field-popup-style-horizontal"] {
				background-image: url(../images/horizontal.svg);
			}
			&[for="edit-field-popup-style-vertical"] {
				background-image: url(../images/vertical.svg);
			}
		}

		.form-radio:checked + .option {
			&[for="edit-field-popup-style-horizontal"] {
				background-image: url(../images/horizontal-toggle.svg);
			}
			&[for="edit-field-popup-style-vertical"] {
				background-image: url(../images/vertical-toggle.svg);
			}
		}
	}
}