.popup {
	position: fixed;
	z-index: 9999;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	left: -99999px;
	opacity: 0;
	transition: left 0s steps(1) .3s, opacity .3s ease;

	&.contextual-region {
		position: fixed;
	}

	&--show {
		opacity: 1;
		left: 0;
		transition: left 0s steps(1), opacity .3s ease;
	}

	&__mask {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.6);
	}
	&__close {
		position: absolute;
		width: 40px;
		height: 40px;
		background: url(../images/close.svg) no-repeat center center / contain;
		text-indent: -9999px;
		cursor: pointer;
		top: -64px;
		right: 10px;

		@media only screen and(min-width: 768px) {
			top: 0;
			right: -54px;
		}
	}
	&__content {
		width: 100%;
		max-width: 640px;
		background: #fff;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	&__wrapper {
		position: relative;
		max-height: 80vh;
		overflow: auto;
	}
	&__image {
		&--horizontal {
			max-height: 40vh;

			.field,
			img {
				max-height: 40vh;
			}
		}
		&--vertical {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			width: 40%;
		}

		.field {
			height: 100%;
		}

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
	&__body {
		&--vertical {
			max-height: 80vh;
			overflow: auto;
			padding: 15px 15px 15px calc(40% + 15px);

			@media only screen and(min-width: 480px) {
				padding: 30px 30px 30px calc(40% + 30px);
			}
		}
		&--horizontal {
			padding: 15px;

			@media only screen and(min-width: 480px) {
				padding: 30px;
			}
		}

		.field {
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}